<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title}} - {% endif %}chavo's site</title>
    <link rel="stylesheet" href="/CSS/theme.css" type="text/css">
</head>

<body>
    <div class="site">
        <header class="site-title">
            <p class="site-title">
                <a href="/">Site Title</a>
            </p>
            <nav>
                <ul>
                    <li><a href="/some-page">About</a></li>
                    <li><a href="#">Posts</a></li>
                    <li><a href="/csstest/typography">SCC Test</a></li>
                </ul>
            </nav>
        </header>