<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TheLazyperson's Home Automatin Site</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>

<body>

    <header class="site">

        <div class="site-header">

            <div class="header-top">
                <div class="site-branding">
                    <p class="site-title">Lazy Home Automation</p>
                    <p class="site-description">It's Fun and Consuming</p>
                </div>

                <nav>
                    <ul>
                        <li><a href="#">My Account</a></li>
                    </ul>
                </nav>

                <form action="#" class="search" method="post">
                    <input type="text" name="search">
                    <input type="submit" value="Search" class="button Submit">
                </form>
            </div>

            <div class="header-bottom">
                <nav class="main navigation">

                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about/">About</a></li>
                        <li class="sub-menu">
                            <a href="/shop/">Shop</a>
                            
                            <ul>
                                <li><a href="#">NodeMCU</a></li>
                                <li><a href="#">D1 Mini Pro</a></li>
                                <li><a href="#">Rasberry Pi 3B+</a></li>
                            </ul>
                        
                        </li>
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="/contacts/">Contacts</a></li>
                    </ul>

                </nav>

                <div class="basket">
                    <span class="price-total">$00.0</span>
                    <span class="items">0 Items</span>
                </div>
            </div>

        </div>

    </header>

    {% if site.title == 'Shop' %}
    <section class="site-banner">
        <h3>Welcome</h3>
        <p>Some text to write</p>
    </section>
    {% endif %}

    <main class="site-content">
        {{ content }}
    </main>

    <footer class="site-footer">

    </footer>
</body>

</html>